# Con PyCaret:

### Importo le librerie e leggo i dati:

In [8]:
#import necessary libraries
import pandas as pd
from pycaret.time_series import *



#This is the URL of the file
url = "https://onedrive.live.com/download?resid=4E16D53638D067A9%21337206&authkey=!APxYFBiUDvn51MI" #REMEMBER to change embed to download;

df = pd.read_csv(url, parse_dates=True, index_col=0) #it's a time series data, so I'm setting the index to be the first column
df.reset_index(drop=True, inplace=True) #resetting the index
df.head()

      open     high      low    close  volume
0  472.157  472.157  472.136  472.137  0.0822
1  472.147  472.157  472.117  472.137  0.1065
2  472.116  472.116  472.057  472.057  0.1180
3  472.046  472.127  472.046  472.127  0.0569
4  472.127  472.137  472.106  472.106  0.1444

### Setup iniziale e controllo della stagionalit√†:

In [9]:
# import TSForecastingExperiment and init the class
from pycaret.time_series import TSForecastingExperiment
exp = TSForecastingExperiment()

# init setup on exp
exp.setup(df, fh = 43000, session_id = 123, target = 'close', use_gpu = False, fold=5, n_jobs=128)

#### Comparo i modelli:

In [10]:
exp.compare_models(sort='MAPE', turbo=False)

Initiated  . . . . . . . . . . . . . . . . . .         18:12:38
Status     . . . . . . . . . . . . . . . . . .  Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .       Auto ARIMA

Processing:   0%|          | 0/81 [00:00<?, ?it/s]

### Creo il modello AutoARIMA e plotto le diagnostiche:

In [ ]:
model1 = exp._create_model('auto_arima')
exp.plot_model(model1)

In [ ]:
exp.plot_model(model1, plot = 'diagnostics', fig_kwargs={"height": 1000, "width": 1800})

In [ ]:
exp.plot_model(model1, plot = 'train_test_split', fig_kwargs={"height": 800, "width": 1000})

In [ ]:
exp.plot_model(model1, plot = 'cv', fig_kwargs={"height": 800, "width": 1200})

In [ ]:
y_predict = exp.predict_model(model1)

# Create a dataframe with the last 200 rows of df and y_pred
df_last_200 = pd.concat([df['close'].tail(200), y_predict], axis=1)

df_last_200.plot()