In [3]:
# Computing example using StatsForecast
from statsforecast.core import StatsForecast
from statsforecast.models import ( 
    AutoARIMA,
    AutoETS,
)
from statsforecast.utils import generate_series

n_series = 1


series = generate_series(n_series = 10, min_length = 1000, max_length = 1000, freq = 'D', seed = 42)


sf = StatsForecast(
    models=[AutoETS(season_length=7)],
    freq='D',
)

In [4]:
import dask.dataframe as dd

# Make unique_id a column
series = series.reset_index()
series['unique_id'] = series['unique_id'].astype(str)

ddf = dd.from_pandas(series, npartitions=128)

sf.forecast(df=ddf, h=7).compute().head()

  unique_id                   ds   AutoETS
0         9  2002-09-27 00:00:00  4.246941
1         9  2002-09-28 00:00:00  5.254521
2         9  2002-09-29 00:00:00   6.25806
3         9  2002-09-30 00:00:00   0.22529
4         9  2002-10-01 00:00:00  1.264449