## Gold analysis
Se il massimo di mercoledi, e' inferiore a quello di lunedi, vedrai il minimo di mercoledi rivisitato giovedi (rivisitato=giovedi il prezzo crossa dall'alto o dal basso il minimo di mercoledi)

### Step da fare:
- Calcolare dei massimi e minimi giornalieri
    - bisogna fare resampling dei dati (in modo da ottenere candele da 1 giorno)
- Categorizzare ogni giorno della settimana (bisogna creare una colonna che dice che giorno e')
- Controllare se il max di mercoledi e' inferiore a quello di lunedi'
    -salva il minimo di mercoledi'
        -controlla se giovedi' le close da 30min crossano verso l'alto o il basso il minimo di mercoledi'

In [1]:
#import the libraries
import cudf
import dask
import dask.dataframe as dd
#set the enviroment to cuDF so we use the GPU
dask.config.set({"dataframe.backend": "cudf"})
#----------------------------------------------

xau30min = dd.read_csv('/home/edoardocame/Desktop/python_dir/xauusd-m30-2014-01-01-2024-12-11.csv')
xau30min.head()

             timestamp      open      high       low     close  volume
0  2014-01-01 23:00:00  1203.612  1205.542  1202.302  1205.458  0.2042
1  2014-01-01 23:30:00  1205.489  1205.883  1205.209  1205.883  0.0663
2  2014-01-02 00:00:00  1205.913  1205.913  1204.893  1205.163  0.1094
3  2014-01-02 00:30:00  1205.163  1207.253  1204.973  1207.013  0.1176
4  2014-01-02 01:00:00  1207.042  1213.842  1207.042  1213.042  0.6692